################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AdventOfCode2023.Day1/bin/Debug/net8.0
/AdventOfCode2023.Day1/obj/Debug/net8.0
/AdventOfCode2023.Day1/obj
/AdventOfCode2023.Day1Part2/obj/Debug/net8.0
/AdventOfCode2023.Day1Part2/obj
/.vs/AdventOfCode2023
/AdventOfCode2023.Day1Part2/bin/Debug/net8.0
/AdventOfCode2023.Day2/bin/Debug/net8.0
/AdventOfCode2023.Day2/obj
/AdventOfCode2023.Day2Part2/bin/Debug/net8.0
/AdventOfCode2023.Day2Part2/obj
